/* :root {
    font-family: 'Poppins', sans-serif;
} */

.wrap-about {
    padding: 5rem 0;
    display: flex;
    gap: 4rem;
    width: 71.25rem;
    margin: 0 auto;
}

.wrap-about div .img-p {
    height: 33rem;
    width: 34rem;
}

.t-about {
    font-size: 0.93rem;
    font-weight: bold;
    color: #fa0368;;
}

.t-wel {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.875rem;
    color: black;
}

.t-large {
    font-size: 0.92rem;
    font-weight: 200;
}

.duo-img {
    width: 2rem;
    height: 2.06rem;
}

.par {
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: 600;
}

.duo-text {
    font-size: 0.92rem;
    font-weight: 200;
}

.about-w-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-duo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sup-2 {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sup {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

@media screen and (max-width: 1024px) {
    .wrap-about div .img-p {
        height: 34rem;
        width: 35rem;
    }
    .t-about {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .t-wel {
        font-size: 3rem;
        font-weight: 700;
        line-height: 2.875rem;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    .t-large {
        font-size: 1.24rem;
        font-weight: 200;
        line-height: 2rem;
    }
    .duo-img {
        width: 2.73rem;
        height: 2.73rem;
    }

    .par {
        font-size: 1.5rem;
        line-height: 1rem;
        font-weight: 600;
    }

    .duo-text {
        font-size: 1.1rem;
        line-height: 1.6rem;
        font-weight: 200;
    }

}

@media screen and (max-width: 768px) {
    .wrap-about {
        flex-direction: column;
    }

    .wrap-about div .img-p {
        width: 67.1rem;
        height: 64.4rem;
    }

    .t-about {
        font-size: 1.6rem;
    }

    .t-wel {
        font-size: 4rem;
        line-height: 5.4rem;
    }

    .t-large {
        font-size: 1.7rem;
        line-height: 2.8rem;
    }
    .sup {
        flex-direction: column;
        gap: 4rem;
    }
    .sup-2 {
        flex-direction: column;
        gap: 3rem;
    }
    .duo-img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .par {
        font-size: 2.4rem;
        line-height: 1rem;
        font-weight: 600;
    }

    .duo-text {
        font-size: 1.7rem;
        line-height: 2.6rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 450px) {
    .wrap-about {
        width: 84.6rem;
        height: 200rem;
        padding: 16rem 0;
        gap: 13rem;
    }

    .wrap-about div .img-p {
        width: 84.6rem;
        height: 81.4rem;
    }

    .about-w-top {
        gap: 5.7rem;
    }

    .t-about {
        font-size: 3rem;
    }

    .t-wel {
        font-size: 5.2rem;
        line-height: 5.6rem;
    }

    .t-large {
        font-size: 3rem;
        line-height: 5.4rem;
    }
    .flex-duo {
        gap: 3rem;
    }
    .sup {
        margin-top: 6rem;
        gap: 8rem;
    }
    .sup-2 {
        flex-direction: column;
        gap: 3rem;
    }
    .duo-img {
        width: 6.6rem;
        height: 6.6rem;
    }

    .par {
        font-size: 4rem;
        line-height: 1rem;
        font-weight: 600;
    }

    .duo-text {
        font-size: 3rem;
        line-height: 5.5rem;
        font-weight: 200;
    }
}