 * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
 }

 *::selection {
    background-color: #fa0368;
 }

:root {
 font-size: 16px;
}

.bg-top {
    background: url('/assets/img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

@media screen and (max-width: 1024px) {
   :root {
      font-size: 12px;
   }

   .bg-top {
      height: 76rem;
   }
}

@media screen and (max-width: 768px) {
   :root {
      font-size: 9px;
   }

   .bg-top {
      height: 106.6rem;
   }
}

@media screen and (max-width: 375px) {
   :root {
      font-size: 4px;
   }

   .bg-top {
      height: 106.6rem;
   }
}
